{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Course</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_course_save" method="post">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Course Name</label>
                    <input type="text" class="form-control" name="course" placeholder="Enter Course" value="{{ course.name }}">
                    <input type="hidden" name="course_id" value="{{ course.id }}">
                  </div>
                  <div class="form-group">
                    <label>Subject</label>
                    <select class="form-control" name="subject">
                      {% for subject in subjects %}
                        <option value="{{ subject.id }}" {% if subject.id == course.subject_id.id %} selected {% endif %}>{{ subject.subject_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Staff</label>
                    <select class="form-control" name="staff">
                        {% for staff in staffs %}
                          <option value="{{ staff.id }}" {% if staff.id == subject.staff_id.id %} selected {% endif %}>{{ staff.first_name }} {{ staff.last_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Save Course</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock content %}
