{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <a href="{% url 'timetable:add_course' %}" class="btn btn-success">Add course</a><br/><br/>

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Courses</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Course Name</th>
                      <th>Teacher</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for course in courses %}
                    <tr>
                      <td>{{ course.id }}</td>
                      <td>{{ course.name }}</td>
                      <td>{{ course.staff_id.first_name }} {{ course.staff_id.last_name }}</td>
                      <td><a href="/edit_course/{{ course.id }}" class="btn btn-success">Edit</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock content %}
