{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <a href="{% url 'timetable:add_subject' %}" class="btn btn-success">Add subject</a><br/><br/>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Subjects</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Subject Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for subject in subjects %}
                  <tr>
                    <td>{{ subject.id }}</td>
                    <td>{{ subject.subject_name }}</td>
                    <td><a href="/edit_subject/{{ subject.id }}" class="btn btn-success">Edit</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
{% endblock content %}

