{% extends "base.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    <h2>{{ current_group }}</h2>

    <table border="1" width="100%" class="timetable">
        <tr>
            <th></th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
        </tr>
        {% for hour in hours %}
        <tr>
            <td>{{ hour }}</td>
            {% for weekday in weekdays %}
                <td>
                {% for lesson in lessons %}
                    {% if lesson.starts_at|time:"H:i" == hour and lesson.weekday == weekday %}
                        {{ lesson }} <br />
                        Course id: {{ lesson.course_id }} <br />
                    {% endif %}
                {% endfor %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock content %}