/* Calendar styles */

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  margin-right: 3px;
}


.clearfix {
  margin: 15px;
}

.calendar tr, .calendar td {
  border: 1px solid #17a2b8;;
}

.calendar th {
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 110px;
  height: 100px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date-cell {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

.school {
  color: #7817b8;
}

.grade {
  color: #17a2b8;
}