{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <a href="{% url 'add_group' %}" class="btn btn-success">Add group</a><br/><br/>

      {% if users_without_group %}
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">No group</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users_without_group %}
                  <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td><a href="{% url 'edit_user' user.id %}" class="btn btn-success">Edit</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      {% endif %}

      {% for group in groups %}
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Group <a href="{% url 'edit_group' group.id %}">{{ group.name }}</a>
                <a href="{% url 'delete_group' group.id %}" class="btn btn-success pull-right">Delete</a>
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in group.user_set.all %}
                  <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td><a href="{% url 'edit_user' user.id %}" class="btn btn-success">Edit</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- /.content -->
{% endblock content %}