<div class="col-lg-12">
    <a href="{% url 'messaging:messages-received' %}">
        <div class="tile-button selected">
            <h2><i class="fa fa-file-text"></i></h2>
            INBOX
            <span>{{ count }}</span>
        </div>
    </a>
    <a href="{% url 'messaging:message-create' %}">
        <div class="tile-button">
            <h2><i class="fa fa-file-o"></i></h2>
            NEW
        </div>
    </a>
    <a href="{% url 'messaging:messages-sent' %}">
        <div class="tile-button">
            <h2><i class="fa fa-files-o"></i></h2>
            SENT
        </div>
    </a>
</div>

<div class="clearfix"></div>