{% extends "base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.sender.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        Recipient(s): 
        {% for recipient in object.recipients.all %}
          <a class="mr-2" href="#">{{ recipient }}</a>,
        {% endfor %}
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>

        <div class="pull-right message-actions">
          {% if message.is_read == False %}
              <div class="message-unread">Unread</div>
          {% else %}
              <div class="message-read">Read</div>
          {% endif %}

          <div class="message-reply">                           
            <a href="{% url 'messaging:message-reply' message.id %}">
                <i class="">Reply</i>
            </a>
          </div>
          <div class="message-delete">                           
              <a href="{% url 'messaging:message-delete' message.id %}">
                  <i class="fa fa-trash">Delete</i>
              </a>
          </div>
      </div>
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %}