{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    {% include "./messages_navi.html" %}

    <div class="panel panel-default">
        <div class="panel-heading"><h3>New message</h3></div>
        <div class="panel-content">   

            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}

                    Recipient(s):
                    <div class="input-group rounded">
                        <input class="form-control rounded" type="search" id="suggestiveSearch" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" autofocus />
                        <span class="input-group-text border-0">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                    <div id="recipients_list"></div>
                    {{ messageForm.recipients|as_crispy_field }}
                    {{ messageForm.title|as_crispy_field }}
                    {{ messageForm.content|as_crispy_field }}

                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Send</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock content %}