{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Poll</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->           
              <form role="form" action="{% url 'polls:add_poll' %}" method="post">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Question</label>
                    <input type="text" class="form-control" name="question_text" value="" />
                  </div>

                  {% for choice_id in choices %}
                  <div class="form-group">
                    <label>Choice {{ forloop.counter }}</label>
                    <input type="text" class="form-control" name="choice{{ choice_id }}" value="" />
                  </div>
                  {% endfor %}
                </div>

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Poll</button>
                </div>
              </form>

            </div>
            <!-- /.card -->

          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock content %}
