{% extends "base.html" %}
{% block content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <a href="{% url 'polls:add_poll' %}" class="btn btn-success">Add poll</a><br/><br/>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Polls</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">

                        {% if latest_question_list %}
                            <table class="table table-hover text-nowrap">
                                <tr>
                                    <th>Name</th>
                                    <th>Actions</th>
                                    <th></th>
                                </tr>
                                <tr>
                                {% for question in latest_question_list %}
                                    <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
                                    <td><a href="{% url 'polls:edit_poll' question.id %}" class="btn btn-success">Edit</a></td>
                                    <td><a href="{% url 'polls:delete_poll' question.id %}" class="btn btn-success">Delete</a></td>
                                {% endfor %}
                                </tr>
                            </table>
                        {% else %}
                            <p>No polls are available.</p>
                        {% endif %}

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
    
{% endblock content %}