{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <a href="{% url 'cal:add_event' %}" class="btn btn-success">Add event</a><br/><br/>

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Events</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Title</th>
                      <th>Category</th>
                      <th>Start time</th>
                      <th>End time</th>
                      <th>Actions</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for event in events %}
                    <tr>
                      <td>{{ event.id }}</td>
                      <td>{{ event.category }}</td>
                      <td>{{ event.title }}</td>
                      <td>{{ event.start_time|date:"d M Y" }}</td>
                      <td>{{ event.end_time|date:"d M Y" }}</td>
                      <td><a href="/edit_event/{{ event.id }}" class="btn btn-success">Edit</a></td>
                      <td><a href="/delete_event/{{ event.id }}" class="btn btn-success">Delete</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock content %}
